ipython[notebook]

# For presentation mode in Jupyter (old name is IPython Notebook) install
# RISE: https://github.com/damianavila/RISE

# For Numpy and Pandas notebook you will need extra packages:
# numpy
# pandas
